<body>
<div class="col-md-6 offset-md-3">
    <br>
    <h2>Update Product</h2>
    <br>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>  Category Name</label>
            <select name="selMode">
              <option selected="selected" value="">Select Category</option>
              <option value="fruits">Fruits</option>
              <option value="vegetables">Vegetables</option>
              <option value="snacks">Snacks & Biscuits</option>
              <option value="sweets">Sweets & Chocolates</option>
              <option value="laundry">Laundry & Dishwash</option>
              </select>
           </div>
           <br>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="product.description">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" id="price" name="price" [(ngModel)]="product.price">
  </div>
  <div class="form-group">
    <label>Image</label>
    <input type="text" class="form-control" id="image" name="image" [(ngModel)]="product.image">
  </div>
  <br>
  <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>
  </body>
    