<nav *ngIf="ShowNavbar()">
    <nav class="navbar navbar-light" style="background-color:#ddeeff;">
      <div class="logo">
      <a routerLink="home">
      <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8U4DDU1v304itbbe9obmlewja7SJvD2wBew&usqp=CAU" alt="Logo">
      <span class="logo-text">Dashboard</span>
     </a>
    </div>
    
    <div class="logo">
      <a routerLink="productlist">
      <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzx_Xyn78c9FbcBX_kGi7XOYKvs4JNsHov_w&usqp=CAU" alt="Logo">
      <span class="logo-text">Products</span>
    </a>
    </div>
    <div class="logo">
      <a routerLink="contact">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgbtZC1wluBmaS8F_5Q-vOGu-BapyesfQQZw&usqp=CAU" alt="Logo">
      <span class="logo-text">Contact</span>
    </a>
    </div>
    <div class="logo">
      <a routerLink="cart">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB6ILgaQNBD0tL7aZJmU4hvFLr1kOlp9gab6LM74OT0nZjqW6O7TziiNdTe33_OgxrNXw&usqp=CAU" alt="Logo">
      <span class="logo-text">Cart</span>
    </a>
    </div>
    <div class="logo">
      <a routerLink="home1">
      <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdpudX7va0DYtqMXtsCuHjOdIQpTcE01gq5g&usqp=CAU" alt="Logo">
      <span class="logo-text">Log out</span>
    </a>
    </div>
      </nav>

      <footer class="footer">
      <div class="container">
       
        <span>All Rights Reserved 2023@Copyrights</span>
      </div>
      </footer>
    </nav>
