<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<br>
<body>
<marquee direction="left" behavior="alternate"><b> Welcome to Online Grocery Store</b> </marquee>
<div class="container mt-4">
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiqSYgcfo9ZO8YRqMZqht_JoIFKCZKUXu-1w&usqp=CAU" alt="Image is Deleted" height="100" width="100"style="margin-left:29rem">
    
        <h2>Login</h2>
        <br>
        <form>

            <div class="form-group">
                <label>Email :  </label>
                <input type="text"[(ngModel)]="email"[ngModelOptions]="{standalone:true}"
                class="form-control"id="email"placeholder="Email">
            </div>

            <div class="form-group">
                <label>Password :    </label>
                <input type="password"[(ngModel)]="password"[ngModelOptions]="{standalone:true}"
                class="form-control"id="password"placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary"style="margin-left:50px;font-size:25px;"(click)="login()">Login</button>
            <div class="car-footer text-right" style="font-size:23px;">
                <small><a routerLink="../admin">Admin Login</a></small>
            </div>
            <div class="car-footer text-left" style="font-size:23px;">
             <small> <a routerLink="../register">Sign Up</a></small>
            </div>
          </form>
    </div>
</div> 
</body>

