<body>
    
    <div style="padding-top:5rem;">
        <strong><h1>Contact Us</h1></strong><br>
    <p>Any questions or remarks? Just write a message! </p>
 
    </div>

 
       <div style="padding-top:3rem;">
        <section>
       <table>
        <tr>
          <td>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_0QQLopPXoTcR39ye4b2X8oIoDW62YjmQ1Q&usqp=CAU" height="50px" width="50px">
          </td>
        
          <td>
            <h3 >9876543210</h3>
          </td>

          <td rowspan="2">
            <div style="padding-left: 300px;">
                <td>
                <h2>Visit us at</h2>
            </td>
            <td>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7MtK5YhJFOYzbQOAg6PZiN3NOikNLISvWIw&usqp=CAU" height="50px" width="50px">
            </td>  
                <p style="font-size: 21px;">New Mig Road No 3,<br><br>Kukatpally,Hyderabad,<br>Telangana-500006.</p>
            </div>
          </td>
         <div style="padding-left: 30rem;">
            <h2>Follow us on</h2>
            <td>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRebO2QJMu6cWpOwxlNMZcSoDNDDB5uBOf2fQ&usqp=CAU" height="50px" width="50px">
              </td>
              <td>
                <h3>Facebook</h3>
              </td>
        </div>
        </tr>
        
        <tr>
          <td>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN77lKVJEvP0O97vFeQtWaoU7hVN6U-DAQXQ&usqp=CAU" height="50px" width="50px">
          </td>
          <td>
            <h3 >organicstore@gmail.com</h3>
          </td>
          <div style="padding-left: 30rem;">
          <td>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO_Z1nn-1E-mQYrUtEk1peuckUTKTnrat3UQ&usqp=CAU" height="50px" width="50px">
          </td>
          <td>
            <h3>Instagram</h3>
          </td>
          </div>
          <div style="padding-left: 30rem;">
            <td>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSCNjL_xJ_VGaNFfQQvtjzqHfbXQBMcTmMTw&usqp=CAU" height="50px" width="50px">
            </td>
            <td>
              <h3>Twitter</h3>
            </td>
            </div>
        </tr>
        
        
      
       </table>
 
    </section>
    </div>
</body>