<!--nav class="navbar navbar-light" style="background-color:#ddeeff;">
    <div class="logo">
      <a routerLink="productlist">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLeIDHxqOnlBmmpuFz8X8WhnfWzDmQGhgVrw&usqp=CAU" alt="Logo">
      <span class="logo-text"> Grocery</span>
    </a>
    </div>
    <div class="logo">
    <a routerLink="home">
    <span class="logo-text">Home</span>
   </a>
  </div>
  <div class="logo">
    <a routerLink="contact">
    <span class="logo-text">Contact us</span>
  </a>
  </div>
  
  <div class="logo">
    <a routerLink="login"routerLinkActive="active">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJilD8iCKyJS9aQW9LCDZ-GExUq7vyMu3-tQ&usqp=CAU" alt="Logo">
    <span class="logo-text">Login</span>
  </a>
  </div>
    </nav-->
    <nav class="navbar navbar-expand-lg  "style="background-color: #8B4513;" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="logo">
                <a routerLink="productlist">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLeIDHxqOnlBmmpuFz8X8WhnfWzDmQGhgVrw&usqp=CAU" alt="Logo">
                <span class="logo-text"> Grocery</span>
              </a>
              </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a routerLink="/home1"routerLinkActive="active"class="nav-link">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
              <li class="nav-item">
                <a routerLink="/about"routerLinkActive="active"class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a routerLink="/contact1"routerLinkActive="active"class="nav-link">Contact</a>
              </li>
              
            </ul>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="reg">
                <li class="nav-item">
                    <a routerLink="/login"routerLinkActive="active"class="nav-link">Login</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/register"routerLinkActive="active"class="nav-link">Sign Up</a>
                  </li>
              </ul>
         
          </div>
        </div>
      </nav>
  
  <marquee direction="left" behavior="alternate">Make Healthy life with fresh grocery</marquee>
  <div class="home">
 
  <footer class="footer">
    <div class="container">
     
      <span>All Rights Reserved 2023@Copyrights</span>
    </div>
    </footer>