
    <div class="row product-content">
      <div class="col-lg-1 col-md-1 col-sm-2 col-2 lft-scroll-box">
       
      </div>
  
     
      <div class="col-lg-4 col-md-4 col-sm-8 col-8">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-9 main-image">
            <mat-grid-list cols="1" rowHeight="1:1" class="mt-4">
              <mat-grid-tile>
                <img mat-card-image src={{product.image}} alt="image" style='height: 100%; width: 100%; object-fit: contain'/>
                <!-- <img mat-card-image src="assets/download.jpg" alt="img" style='height: 100%; width: 100%; object-fit: contain'> -->
              </mat-grid-tile>
            </mat-grid-list>
          <button class="btn btn-danger" (click)="addToCart()" style="width: 100%;" >Add To Cart</button>

          </div>
  
          <div class="col-lg-3"></div>
        </div>
      </div>
  
      <div class="col-lg-6 col-md-6 col-sm-10 col-10">
        <div class="row">
          <div>
            <h1 style="font-size: 3.2vw; padding-top:2rem;">{{ product.name }}</h1>
          </div>
  
          <!--post date -->
         
  
            
  
          <div class="row" style="font-size: 1.2vw" style="margin-top: 1rem">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <span class="coin-box"><i class="fa-solid fa-coins"></i> {{product.price |currency:'INR'}} </span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6"></div>
          </div>
          
        </div>
      <div class="col-lg-6 col-md-6 col-sm-10 col-10">
        <div class="description-text-box">
          <h2>Description of the product</h2>
          <p>{{ product.description }}</p>
        </div>
      </div>
      <p>Delivery within 2-3 days after</p>
    </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_N8zB4VYbPEmp55" async>
    </script> </form>